/*        IMPORTS         */
@import "variables";
// first, variables

$light: 200;
$regular: 400;
$fontMedium: 500;
$semiBold: 600;
$bold: 700;
$black: 900;

$navbarBreakpoint: $siteWidth;
$footerBreakpoint: $large;

$hexBlack: #151a28;
:root {
    --gutter: #{$gutter};
    --site-margins: 16px;
    --site-width: #{$siteWidth};
  
    --nav-height: 64px;
    --nav-header-height: 48px;
  
    --rounded-separator-height: 48px;
  
    // Note: Intercom widget z-index is "2147483001"
    --nav-z: calc(2147483001 - 2);
    --chili-piper-z: calc(var(--nav-z) + 1);
  
    // Colors
    // @see {@link https://www.figma.com/file/E8xOxlVnIBB7PbzLXXsRbL/Brand-Foundations}
  
    --cobalt: #012635;
    --cobalt-rgb: 1, 38, 53;
  
    --dark-blue: #073f56;
  
    --black: #000000;
  
    --white: #ffffff;
    --white-rgb: 255, 255, 255;
  
    --grey-700: #9799a3;
    --grey-500: #caccd8;
    --grey-300: #eaebf0;
    --grey-200: #f7f8fc;
  
    --green-900: #00724e;
    --green-700: #06ab78;
    --green-500: #00bd82;
    --green-500-rgb: 0, 189, 130;
    --green-400: #66d7b4;
    --green-300: #b3ebda;
    --green-200: #5bf1b2;
    --green-50: #c2ffec;
  
    --blue-700: #005abb;
    --blue-500: #3086ee;
    --blue-500-rgb: 48, 134, 238;
    --blue-300: #74b5ff;
    --blue-200: #d6e7fc;
  
    --purple-700: #2022ae;
    --purple-500: #6955da;
    --purple-300: #a69fea;
    --purple-200: #e1ddf8;
  
    --yellow-700: #f49c17;
    --yellow-500: #ffc000;
    --yellow-300: #ffe185;
    --yellow-200: #fff2cc;
  
    --pink-700: #b1264d;
    --pink-500: #e85b79;
    --pink-300: #ff8da8;
    --pink-200: #fadee4;
  
    --red-700: #ea3815;
    --red-500: #ff5d3e;
    --red-300: #ff906a;
    --red-200: #ffeeee;
  
    --box-shadow-1: 0px 4px 8px rgba(var(--cobalt-rgb), 0.05),
      0px 1px 2px rgba(var(--cobalt-rgb), 0.05);
    --box-shadow-2: 0px 16px 32px rgba(var(--cobalt-rgb), 0.05),
      0px 8px 16px rgba(var(--cobalt-rgb), 0.06);
    --box-shadow-3: 0px 24px 48px rgba(var(--cobalt-rgb), 0.05),
      0px 16px 32px rgba(var(--cobalt-rgb), 0.05);
    --box-shadow-4: 0px 32px 64px rgba(var(--cobalt-rgb), 0.05),
      0px 24px 48px rgba(var(--cobalt-rgb), 0.05);
  
    --glass-fill: linear-gradient(
      129deg,
      rgba(var(--white-rgb), 0.2) 0%,
      rgba(var(--white-rgb), 0.1) 100%
    );
    --glass-fill-background-filter: blur(5px);
  }

//make a code to integrate a font from local files
* {

    font-family: 'Fellix', sans-serif;
}



//then the header

